<nav class="navbar navbar-default">
    <div class="container-fluid">
        <footer class="footer">
            <div class="container">
            <p class="text-muted", id="logofooter" >Place sticky footer content here.</p>
            </div>
        </footer>
    </div>
</nav>